.services {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 30px;
  padding: 10px;
  &__title {
    display: flex;
    align-items: start;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: left;
  }
  &__itemsGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__servicesTable {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
    padding: 0.5rem;
    justify-content: center;
    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include laptop-m {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 0px;
    }
  }
  &__rowBottom {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.75rem;
    padding: 0.5rem;
    justify-content: center;
    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include laptop-m {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      padding: 0px;
    }
  }
}

@media (max-width: 1024px) {
  .itemTop,
  .itemBottom {
    max-width: unset;
    background-size: cover;
    a {
      padding-left: 86px;
    }
  }
}
