.lang {
  &__icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

  &__label {
    color: white;
    @include hover {
      text-decoration: underline;
      color: white;
    }
  }

  &__popover {
    background-color: hsl(var(--nextui-primary-200));
    border-radius: var(--nextui-radius-small);
  }

  &__base {
    width: fit-content;
  }

  &__value {
    & ul {
      gap: 3px;
    }

    & li {
      display: flex;
      align-items: center;
      justify-content: center;

      & span {
        border: 2px solid transparent;
        border-radius: 50%;
        color: white;
      }

      & span:last-of-type {
        display: none;
      }

      &[aria-selected='true'] {
        cursor: pointer;
        @include hover-link;
      }

      & span {
        flex: inherit;
      }

      &[data-selectable='true'] {
        cursor: pointer;
        @include hover-link;
      }
    }
  }

  &__trigger {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: var(--nextui-radius-small);
    color: hsl(var(--nextui-secondary-100));

    max-width: 74px;
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  &__inner_wrapper {
    width: inherit;
  }

  &__main_wrapper {
    width: 74px;
  }
}
