.officeSpace {
  background: rgba(247, 247, 247, 1);
  width: 100%;
  margin-top: 50px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  &__wrap {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include laptop {
      align-items: center;
    }
    ul {
      li {
        a {
        }
      }
    }
  }
}
