.cityOffices {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36.4px;
    text-align: left;
    padding-bottom: 28px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5rem;
    @include tablet {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include laptop-m {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  &__name {
    font-size: 14px;
    font-weight: 500 !important;
    line-height: 19.6px;
    text-align: left;
    color: rgba(69, 90, 100, 1);
    @include hover {
      text-decoration: underline;
      color: black;
      text-decoration-color: rgba(69, 90, 100, 1);
    }
  }
}
