.greenPart {
  max-width: 220px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .greenBox {
    width: 12px;
    height: 12px;
    background: rgba(160, 205, 105, 1);
  }
  .greenH2 {
    font-family: Inter,sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
    color: rgba(160, 205, 105, 1);
  }
  h4 {
    font-family: Inter,sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: white;
  }
}
.bluePart {
  max-width: 220px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  .blueBox {
    width: 12px;
    height: 12px;
    background: rgba(81, 180, 232, 1)
  }
  .blueH2 {
    font-family: Inter,sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 44.8px;
    text-align: center;
    color: rgba(81, 180, 232, 1)
  }
  h4 {
    font-family: Inter,sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: white;
  }
}