.banner {
  max-width: 1440px;
  height: 561px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  @include laptop {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: auto !important;
  }
  &__inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-width: 820px;
    width: 100%;
    @include laptop-l {
      padding-top: 55px;
    }
  }
  &__darkBlock {
    display: flex;
    flex-direction: column;
    max-width: 607px;
    width: 100%;
    padding: 24px 55px 25px 22px;
    margin: 0 auto;
    margin-top: 14px;
    background: rgba(0, 0, 0, 0.5);
    height: 98px;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    @include phone {
      flex-direction: row;
    }
    @include laptop {
      height: auto;
      gap: 30px;
      align-items: center;
      padding: 20px;
      margin-bottom: 25px;
    }
  }
  &__darkBtn {
    width: 145px;
    height: auto;
    padding: 4px 5px 5px 18px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: left;
    color: white;
    @include hover-button;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    color: white;
    @include laptop {
      text-align: center;
    }
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: white;
    @include laptop {
      text-align: center;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
    color: white;
    padding: 10px;
    span {
      color: rgba(255, 136, 83, 1);
    }
  }
  &__containSearch {
    max-width: 820px;
    width: 100%;
    height: 80px;
    background: linear-gradient(90.22deg, #05ade5 0%, #8abe4b 100%);
    border-radius: 6px;
    padding: 16px 24px 16px 24px;
    margin-top: 23px;
    justify-content: space-between;
    display: flex;
    @include laptop {
      height: auto;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &__whiteWrap {
    max-width: 646px;
    width: 100%;
    height: 47px;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    @include laptop-m {
      flex-direction: row;
    }
    @include laptop {
      height: auto;
      position: relative;
      top: 17px;
    }
  }
  &__listFiltr {
    max-width: 140px;
    width: 100%;
    margin-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include laptop {
      padding: 9px 0 5px 0;
      align-items: normal;
      justify-content: center;
      flex-direction: column;
      max-width: unset;
      margin: 0 auto;
      width: 44%;
    }
  }
  &__line {
    min-width: 1px;
    height: 25px;
    background: rgba(228, 228, 228, 1);
    margin-left: 34px;
    margin-right: 34px;
    @include laptop {
      width: 25px;
      height: 1px;
    }
  }
  &__rowParts {
    max-width: 511px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 29px;
    display: flex;
    flex-direction: column;
    @include phone {
      flex-direction: row;
    }
    @include laptop {
      align-items: center;
      gap: 20px;
    }
  }
  &__btnSearch {
    width: 114px;
    height: 48px;
    background: rgba(255, 87, 34, 1);
    border-radius: 6px;
    box-shadow: 0 3px 8px -1px rgba(50, 50, 71, 0.05);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    color: white;
    @include hover-button;
  }
  &__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: left;
    color: rgb(42, 56, 66);
  }
  &__wrap {
    display: flex;
    flex-direction: column;
  }
}
