.wishlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1280px;
  padding: 2rem;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__group {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.75rem;
    padding-top: 1rem;
    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include laptop-m {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include laptop-l {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
