.metroOffices {
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 36.4px;
    text-align: left;
    padding-bottom: 28px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
