.header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.25rem;
  flex-direction: column;
  @include laptop-l {
    flex-direction: row;
    align-items: center;
  }
  @include laptop {
    background-color: rgba(255, 255, 255, 0.05);
  }
  &__headerWrap {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    @include phone {
      gap: 0;
    }
    @include laptop {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    flex-direction: row;
    @include tablet {
      justify-content: start;
    }
  }
  .open {
    margin-top: 15px;
    span {
      position: relative;
      &:nth-child(1) {
        transform: rotate(53deg);
        top: 19%;
        margin-top: -1px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-50deg);
        bottom: 65%;
        margin-bottom: -1px;
      }
    }
  }
  &__wishlist,
  &__search,
  &__notifications {
    max-width: 60px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 0;
  }
  &__notificationsLaptop {
    @include laptop {
      display: none;
    }
  }
  &__wishlistLaptop {
    max-width: 60px;
    width: 100%;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    display: none;
    @include laptop-m {
      display: flex;
    }
  }
  &__rowHeader {
    display: flex;
    align-items: center;
    .logo {
      max-width: 94px;
      width: 100%;
      height: auto;
    }
  }
  &__row {
    display: flex;
    gap: 1rem;
    padding-left: 1.5rem;
  }
  &__line {
    width: 1px;
    height: 32px;
    background: white;
    display: none;
    @include laptop-m {
      display: block;
    }
  }
  &__cities {
    display: none;
    align-items: center;
    gap: 0.25rem;
    padding-left: 0.875rem;
    @include laptop-m {
      display: flex;
    }
  }
  &__citiesName {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
  }
  &__navigate {
    display: none;
    @include laptop-m {
      display: flex;
      padding-left: 0.5rem;
    }
    @include laptop-l {
      padding-left: 1.5rem;
    }
  }
  &__navigateList {
    display: flex;
    gap: 2.5rem;
  }
  &__navigateSidebar {
    display: flex;
    padding-left: 1.5rem;
  }
  &__listSidebar {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2.5rem;
  }
  &__rowIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
  &__sidebarRow {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    @include laptop-m {
      display: none;
    }
  }
  &__citiesSidebar {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 2rem;
  }
  &__add {
    background: rgba(255, 87, 34, 0.6);
    height: 40px;
    padding: 10px 28px 10px 28px;
    border-radius: 6px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: center;
    margin-left: 0.75rem;
    gap: 0.5rem;
    color: white;
    @include hover-button;
  }
  &__addLaptop {
    background: rgba(255, 87, 34, 0.6);
    height: 40px;
    padding: 10px 28px 10px 28px;
    border-radius: 6px;
    align-items: center;
    display: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: center;
    margin-left: 0.75rem;
    gap: 0.5rem;
    color: white;
    @include laptop-m {
      display: flex;
    }
    @include hover-button;
  }
  &__rowIconsSidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    @include phone {
      gap: 1rem;
      padding-left: 50px;
    }
    @include laptop-m {
      padding-left: 2.5rem;
    }
    @include laptop-l {
      padding-left: 3rem;
    }
  }
  &__laptopRow {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    @include laptop-m {
      flex-direction: row;
      gap: 0;
    }
  }
  &__btnsRow {
    display: flex;
    gap: 0.75rem;
    @include laptop-m {
      padding-left: 1rem;
    }
    @include laptop-l {
      padding-left: 2.25rem;
    }
  }
  &__login {
    height: 40px;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: center;
    color: white;
    @include hover-button;
    @include laptop {
      display: none;
    }
  }
  &__loginSidebar {
    height: 40px;
    width: 88%;
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: center;
    color: white;
    @include hover-button;
  }
  &__citiesLaptop {
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    @include laptop-m {
      display: flex;
      padding-left: 0.5rem;
    }
    @include laptop-l {
      padding-left: 0.25rem;
    }
  }
  &__BtnDown {
    width: 15px;
  }
  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 190px;
    height: 100%;
    background-color: rgba(42, 56, 66, 1);
    transition: right 0.3s;
    z-index: 50;
    @include laptop {
      display: block;
    }
    .wishlist,
    .notifications {
      max-width: 30px;
    }
  }
  &__colorIcon {
    color: white;
    @include hover-link;
  }
  &__searchInput {
    margin-left: 25px;
    padding-right: 25px;
  }
  &__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: left;
    color: rgb(42, 56, 66);
    margin: 0 auto;
    position: relative;
    bottom: 5px;
  }
  &__searchBtn {
    position: relative;
    right: 23px;
    svg {
      color: #171717;
    }
  }
  &__rowSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .customAutocomplete {
    width: 120px;
  }
}
