.blockRed {
  width: auto;
  height: 30px;
  border-radius: 6px;
  padding: 4px 8px;
  background: rgba(255, 79, 0, 0.1);
  transition: background 0.3s;

  &:hover {
    background: rgba(255, 79, 0, 1);
  }

  &.active {
    background: rgba(255, 79, 0, 1);

    p {
      color: rgba(255, 255, 255, 1);
    }
  }

  p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    color: rgba(94, 123, 143, 1);
    transition: color 0.3s;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
